<nav style="background-color: rgb(211, 211, 211); display: block; padding: 10px; margin: 0px;">
    <ul style="display: flex; flex-direction: row; justify-content: center; gap:25px;">
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/doctors">Doctors</a></li>
    </ul>
</nav>

