<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
        <%- include("../partials/nav.ejs") %>

    <h1>Details</h1>
    <ul>
      <li>name: <%= doctor.name %></li>
      <li>specialty: <%= doctor.specialty %></li>
      <li>years of expreience: <%= doctor.yearsOfExperience %></li>
    </ul>
    <a href="/doctors">go back</a>
  </body>
</html>
